$font-Poppins:"Poppins", sans-serif;
$font-OpenSans:"Open Sans", sans-serif;
$text-clr:#474747;
$bg-clr : #0f68fe;
$brd-blue: #0f68fe;
$btn-text:#054bc0;
$main-clr:#0f67fd;
$white: #ffffff;
$black:#000;
$light-gray:#F5F2F2;
$primary-clr:#44c8f5;





